@inherits LayoutComponentBase

<div class="site-container">
    <header>
        <NavMenu />
    </header>

    <main>
        @Body
    </main>

    <footer class="footer">
        <p>© 2025 Gurvinder Singh | All Rights Reserved</p>
    </footer>
</div>